
* {
    box-sizing: border-box;
  }
  body{
    margin: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  a{
    color: white;
  }
  .clhr{
    width: 75%;
  }
  .fourpercent{
    margin-left: 4%;
  }
  .contact{
    text-align: center;
    color: white;
  }
  .margin{
    float: left;
    width:20%;
    height: 1793.45px;
    background-color:#bd5d38;
    
} 
  .column {
    float: left;
    width: 80%;
    height: auto; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .profilepicdiv{
      margin-top: 20%;
      background-color: #fa7d4c;
      border-radius: 50%;
      margin-left: 18%;
      margin-right: 15%;
      
      
  }
  .profilepic{
    border-radius: 100px;
    margin: 5px 5px 5px 5px;
    align-items: center;
    
  }
  .name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 60px;
  }
  .tds{
    width: 70%;
  }
  .zeromarg{
    margin-top: 0%;
  }
  .lastname{
    color: #fa7d4c;
  }

  .experience{
    margin-left: 4%;
  }
  table{
    width: 100%;
  }
  td{
    width: 50%;
  }
  